<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tic Tac Toe Game !</title>
    <link href="{{ url_for('static', filename='plugins/5.3.1_dist_css_bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="container" style="width: auto;">
        <div id="text_info" class="row animated-text justify-content-center col-12">Choose your move</div>
        {% for n_row in range(3) %}
            <div class="row" style="height: {{box_width}}px;">
                {% for n_col in range(3) %}
                    {% set n_box = n_row*3 + n_col%}
                    <div class="cover atvImg box" name = "{{n_box}}" style="width: 200px; height: 160px;">
                        <div class="atvImg-layer" data-img="{{url_for('static',filename='imgs/bg-img' + bg_imgs[n_box] + '.jpg')}}"></div>
                        <div class="atvImg-layer" data-img=""></div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    <script>
        // Create the robot image src element
        let robotImgSrc = "{{ url_for('static', filename= 'imgs/robot.png') }}";

        // Create the player image src element
        let playerImgSrc = "{{ url_for('static', filename= 'imgs/player.png') }}";
    </script>
    <script src="{{ url_for('static', filename='plugins/3.6.0_jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/5.3.1_dist_js_bootstrap.bundle.min.js') }}" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='3d_card.js')}}"></script>
    <script src="{{url_for('static',filename='main.js')}}"></script>
</body>
</html>
